* {
    border: none;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.info {
    display: flex;
    justify-content: space-around;
}

.quadrado {
    display: flex;
    cursor: pointer;
    position: absolute;
}

#q1 {
    background-color: #f00;
    left: 150px;
    top: 100px;
    width: 150px;
    height: 150px;
}

#q2 {
    background-color: #00f;
    left: 250px;
    top: 300px;
    width: 100px;
    height: 100px;
}